@import "../../styles/constants.scss";

$header-image-border-width: $small-spacing;

.header {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  margin-bottom: $large-spacing;

  .header-left {
    display: flex;
    align-items: center;
    justify-content: center;

    .stephen-image {
      position: unset !important;

      border-radius: 50%;

      border: $header-image-border-width solid $color-white;
    }
  }

  .header-right {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header-right-top {
      .title {
      }

      .sub-title {
        margin-top: $small-spacing;
      }

      .social-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        list-style-type: none;

        margin-top: $medium-spacing;

        .social-item {
          opacity: 0.5;
          transition: opacity $transition-duration $transition-timing-function;

          &:hover {
            opacity: 1;
          }

          &:not(:last-child) {
            margin-right: $medium-spacing;
          }

          .social-link {
            .social-link-icon {
              path {
                fill: $color-white;
              }
            }
          }
        }
      }
    }

    .header-right-bottom {
      flex: 1;

      display: flex;
      align-items: center;

      .summary {
      }
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .header {
    display: block;

    .header-left {
      margin-bottom: $medium-spacing;

      padding: 0 25%;
    }

    .header-right {
      text-align: center;

      .header-right-bottom {
        margin-top: $medium-spacing;
      }

      .header-right-top {
        .social-links {
          justify-content: center;
        }
      }
    }
  }
}
