@import "@/styles/constants.scss";

.link {
  font-weight: 500;
  color: $color-white;

  transition: color $transition-duration $transition-timing-function;

  path {
    transition: fill $transition-duration $transition-timing-function;
  }

  .link-icon {
    transition: transform $transition-duration $transition-timing-function;
    transform: translate(-25%, 25%) scale(1);
  }
}
