.project-inner {
    display: flex;
    flex-direction: row;

    .project-content {
        margin-left: 32px;

        flex: 1;

        h3 {
            margin-bottom: 4px;
        }

        .project-type {
            font-size: 0.8rem;
            opacity: 0.8;
        
            display: flex;
            align-items: center;
        
            .project-type-icon {
                margin-right: 8px;
            }
        }

        .project-description-container {
            margin-top: 8px;
            
            .project-description-paragraph {}
        }
    }
}