@import "@/styles/constants.scss";

.card {
  position: relative;

  padding: $card-padding;

  &.clickable {
    cursor: pointer;
  }

  &::after {
    opacity: 0;
    transition: opacity $transition-duration $transition-timing-function;

    content: "";

    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: $small-spacing;

    backdrop-filter: blur(15px);
  }

  &.highlighted {
    h3 {
      color: $color-accent;
    }

    &::after {
      opacity: 1;
    }
  }

  &.faded {
    opacity: 0.5;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .card {
    padding: $card-padding-mobile;
  }
}
