@import '../../styles/constants.scss';


.card {
    padding: $card-padding;
    border: 1px solid rgba(255, 255, 255, 0);

    transition: all 0.25s ease-in-out;


    &.clickable {
        cursor: pointer;
    }

    &.highlighted {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);

        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border-color: rgba(255, 255, 255, 0.2);
        border-radius: 8px;

        h3 {
            color: #F67280;
        }

        &::before {
            background: linear-gradient(0deg, rgba(199,203,203,0.5) 0%, rgba(199,203,203,1) 100%);
        }
    }

    &.faded {
        opacity: 0.5;
    }
}