@import "../../../styles/constants.scss";

$time-line-color: #c7cbcb;
$time-line-width: 2px;
$time-point-size: 12px;

.experience {
  position: relative;

  // time line

  &:not(.last) {
    &::before {
      content: "";

      width: $time-line-width;
      background: $time-line-color;

      position: absolute;
      left: calc(-1 * $card-padding);
      top: calc($card-padding + $h3-font-size / 2 + $time-point-size / 2);
      bottom: calc(-2 * $card-padding - $h3-font-size / 2 + $time-point-size / 2 + 16px);
    }
  }

  // time point

  &::after {
    content: "";

    height: $time-point-size;
    width: $time-point-size;
    border-radius: 50%;

    background-color: $time-line-color;

    position: absolute;
    top: calc($card-padding + $h3-font-size / 2);
    left: calc(-1 * $card-padding);

    transform: translate(calc(($time-line-width - $time-point-size) / 2), -50%);
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title-icon {
      margin-right: 8px;

      path {
        transition: fill 0.25s ease-in-out;
      }

      &.active {
        path {
          fill: #f67280;
        }
      }
    }
  }

  .role {
    margin-bottom: 8px;
  }

  .location-dates-container {
    display: flex;
    flex-direction: row;

    .location-date {
      opacity: 0.8;

      display: flex;
      flex-direction: row;
      align-items: center;

      .icon {
        margin-right: 8px;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }

    margin-bottom: 16px;
  }

  .summary-container {
    opacity: 0.9;

    margin-bottom: 16px;

    .summary-paragraph {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  .skills {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 8px;

    .skill {
      padding: 6px 12px;
      border-radius: 100px;

      background-color: #f6728033;

      .skill-inner {
        color: #f67280;

        font-size: 0.8rem;
        font-weight: 500;
      }
    }
  }

  &.highlighted {
    &::before {
      background: linear-gradient(0deg, rgba(199, 203, 203, 0.5) 0%, rgba(199, 203, 203, 1) 100%);
    }
  }

  &.faded {
    opacity: 0.5;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .experience {
    // time line

    &:not(.last) {
      &::before {
        left: calc(-1 * $card-padding-mobile);
        top: calc($card-padding-mobile + $h3-font-size / 2 + $time-point-size / 2);
        bottom: calc(-2 * $card-padding-mobile - $h3-font-size / 2 + $time-point-size / 2);
      }
    }

    // time point

    &::after {
      top: calc($card-padding-mobile + $h3-font-size / 2);
      left: calc(-1 * $card-padding-mobile);
    }
  }
}
