@import "@/styles/constants.scss";

$spotlight-size: 400px;
$spotlight-color: #146d6d;

@keyframes appears-slide {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.base-page-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  min-height: 100lvh;

  background-image: url(../../assets/noise.png);
  background-position: 0 0;
  background-size: 200px 200px;

  .spotlight-mask {
    position: fixed;
    z-index: 1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::after {
      content: "";
      opacity: 0.2;

      position: fixed;

      height: $spotlight-size;
      width: $spotlight-size;

      background: radial-gradient(circle closest-side, $spotlight-color, transparent);
      background-repeat: no-repeat;

      left: calc(var(--mouse-x, -100%) - $spotlight-size / 2);
      top: calc(var(--mouse-y, -100%) - $spotlight-size / 2);
    }
  }

  .base-page {
    height: 100%;
    width: 100%;
    max-width: $content-max-width;
    padding: $xlarge-spacing;

    position: relative;
    z-index: 10;

    .base-page-main {
      display: flex;
      flex-direction: row;

      padding: $large-spacing 0;

      .base-page-navigation-bar-container {
      }

      .base-page-content {
        animation: appears-slide $transition-duration $transition-timing-function;

        .base-page-content-footer-container {
          margin-top: $large-spacing;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .base-page-container {
    .base-page {
      padding: $large-spacing $medium-spacing;

      .base-page-main {
        padding: 0;
        flex-direction: column;

        .base-page-content {
          margin-bottom: $xlarge-spacing;
        }
      }
    }

    .spotlight-mask {
      &::after {
        display: none;
      }
    }
  }
}
