@import "../../styles/constants.scss";

$spotlight-size: 400px;
$spotlight-color: #105757;
$background-color: #0b1c1c;
$background-color-secondary: #004949;

@keyframes appears-slide {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.base-page-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  .spotlight-mask {
    position: fixed;
    z-index: -1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $background-color;
    background-image: linear-gradient(160deg, $background-color 0%, $background-color-secondary 100%);

    &::after {
      content: "";
      opacity: 0.2;

      position: fixed;

      height: $spotlight-size;
      width: $spotlight-size;

      background: radial-gradient(circle closest-side, $spotlight-color, transparent);
      background-repeat: no-repeat;

      left: calc(var(--mouse-x, -100%) - $spotlight-size / 2);
      top: calc(var(--mouse-y, -100%) - $spotlight-size / 2);
    }
  }

  .base-page {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    padding: 64px;

    .base-page-main {
      display: flex;
      flex-direction: row;

      padding: 32px 0;

      .base-page-navigation-bar-container {
      }

      .base-page-content {
        animation: appears-slide 0.25s ease-in-out;

        .base-page-content-footer-container {
          margin-top: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .base-page-container {
    .base-page {
      padding: 32px 16px;

      .base-page-main {
        padding: 0;
        flex-direction: column;

        .base-page-content {
          margin-bottom: 32px;
        }
      }
    }

    .spotlight-mask {
      &::after {
        display: none;
      }
    }
  }
}
