@import "@/styles/constants.scss";

.project-inner {
  display: flex;
  flex-direction: row;
  align-items: center;

  .project-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 100px;

    .project-image {
      transition: transform $transition-duration $transition-timing-function;

      max-width: 100% !important;
      max-height: 100% !important;

      width: auto !important;
      height: auto !important;

      position: unset !important;

      -webkit-filter: drop-shadow(0 0 $medium-spacing #00000033);
      filter: drop-shadow(0 0 $medium-spacing #00000033);

      &.active {
        transform: scale(1.15);
      }

      &.android {
        border-radius: $medium-spacing;
      }
    }
  }

  .project-content {
    margin-left: $large-spacing;

    flex: 1;

    h3 {
      margin-bottom: 4px;
    }

    .project-type {
      font-size: 0.8rem;
      opacity: 0.8;

      display: flex;
      align-items: center;

      .project-type-icon {
        margin-right: $small-spacing;
      }
    }

    .project-description-container {
      opacity: 0.9;
      margin-top: $small-spacing;

      .project-description-paragraph {
        &:not(:last-child) {
          margin-bottom: $small-spacing;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .project-inner {
    flex-direction: column;

    .project-image-container {
      margin-bottom: $large-spacing;
      margin-top: $medium-spacing;
    }

    .project-content {
      margin-left: 0;
    }
  }
}
