@import "@/styles/constants.scss";

.footer {
  position: relative;

  padding: $large-spacing 0;

  .footer-paragraphs-group {
    > p {
      font-size: 0.9em;
      opacity: 0.85;
    }
  }

  &::before {
    content: "";

    position: absolute;

    height: 1px;

    top: 0;
    left: $xlarge-spacing;
    right: $xlarge-spacing;

    background-color: #ffffff44;
  }

  .scroll-top-button {
    display: none;
    justify-content: center;

    margin-top: $xlarge-spacing;

    background: none;
    border: none;
    width: 100%;

    .scroll-top-button-inner {
      opacity: 0.8;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .footer {
    .scroll-top-button {
      display: flex;
    }
  }
}
