@import "../../styles/constants.scss";

$navigation-item-color: #ffffff;

.navigation-bar {
  .navigation-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    opacity: 0.5;

    font-size: 1.2rem;

    transition: opacity 0.25s ease-in-out;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .navigation-item-separator {
      display: block;

      transform-origin: left;
      transform: scaleX(0.5);

      width: 32px;
      height: 2px;

      margin-right: 16px;

      background-color: $navigation-item-color;

      transition: transform 0.25s ease-in-out;
    }

    .navigation-link {
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $navigation-item-color;
    }

    &.active,
    &:hover {
      opacity: 1;

      .navigation-item-separator {
        transform: scaleX(1);
      }
    }
  }
}
