@import "../../styles/constants.scss";

$navigation-item-color: $color-white;

.navigation-bar {
  .navigation-bar-inner {
    .navigation-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      opacity: 0.5;

      font-size: 1.2rem;

      transition: opacity $transition-duration $transition-timing-function;

      &:not(:last-child) {
        margin-bottom: $medium-spacing;
      }

      .navigation-item-separator {
        display: block;

        transform-origin: left;
        transform: scaleX(0.5);

        width: $large-spacing;
        height: 2px;

        margin-right: $medium-spacing;

        background-color: $navigation-item-color;

        transition: transform $transition-duration $transition-timing-function;
      }

      .navigation-link {
        display: flex;
        align-items: center;

        .navigation-link-title {
          transition: letter-spacing $transition-duration $transition-timing-function;
          font-size: 1rem;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 0;
          color: $navigation-item-color;
        }
      }

      &.active,
      &:hover {
        opacity: 1;

        .navigation-link {
          .navigation-link-title {
            letter-spacing: 0.1rem;
          }
        }

        .navigation-item-separator {
          transform: scaleX(1);
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .navigation-bar {
    margin-bottom: $large-spacing;

    .navigation-bar-inner {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .navigation-item {
        display: flex;
        flex-direction: column-reverse;

        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: $medium-spacing;
        }

        .navigation-item-separator {
          margin-top: 4px;
          transform: scaleX(0);

          transform-origin: center;
          margin-right: 0;
        }
      }
    }
  }
}
