$color-primary: #f67280;
// #C06C84, #6C5B7B
$color-secondary: #355c7d;

// sizes

$card-padding: 32px;
$card-padding-mobile: 16px;
$h3-font-size: 1.4rem;

$left-part-width: 220px;

$tablet-breakpoint: 768px;
