@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500&family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
@import "./constants.scss";

$background-color: #0b1c1c;
$background-color-third: #006c6c;
$background-color-secondary: $color-primary;

// base elements

html {
  height: 100vh;
  position: fixed;
}

html,
body {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;

  position: relative;
}

body::after {
  content: "";

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;

  background-color: $background-color;
  background: linear-gradient(
    160deg,
    $background-color 0%,
    $background-color-secondary 50%,
    $background-color-third 100%
  );
  height: 100vh;
  height: 120lvh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: $color-white;
  font-family: "League Spartan", "Arial, Helvetica, sans-serif";
  font-weight: 300;

  ::-moz-selection {
    /* Code for Firefox */
    color: $background-color;
    background: $color-accent;
  }

  ::selection {
    color: $background-color;
    background: $color-accent;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.25rem;

  b {
    font-weight: 500;
  }
}

h1 {
  font-family: "Noto Serif", "Georgia, serif";
  font-weight: 700;
}

h3 {
  margin-bottom: $small-spacing;

  font-size: $h3-font-size;
  font-weight: 500;

  transition: color $transition-duration $transition-timing-function;

  .title-link {
    font-weight: 500;
  }
}

.paragraphs-group {
  p {
    color: #ffffffcc;

    &:not(:last-child) {
      margin-bottom: $small-spacing;
    }
  }
}

// cards

.link:hover,
.card:hover .link,
.link.active {
  color: $color-accent;

  path {
    fill: $color-accent;
  }

  .link-icon {
    transform: translate(0, 0) scale(1.1);
  }
}

.card-container {
  &:not(:first-child) {
    padding-top: $small-spacing;
  }

  &:not(:last-child) {
    padding-bottom: $small-spacing;
  }
}

// layouts

.left-part {
  width: $left-part-width;
  margin-right: $large-spacing;
}

@media screen and (max-width: $tablet-breakpoint) {
  .left-part {
    width: 100%;
    margin-right: 0;
  }
}
