@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;500&family=Noto+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");
@import "./constants.scss";

// base elements

body,
html,
#__next {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #ffffff;
  font-family: "League Spartan";
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.25rem;

  b {
    font-weight: 500;
  }
}

h1 {
  font-family: "Noto Serif";
  font-weight: 700;
}

h3 {
  margin-bottom: 8px;

  font-size: $h3-font-size;
  font-weight: 500;

  transition: color 0.25s ease-in-out;

  .title-link {
    font-weight: 500;
  }
}

.paragraphs-group {
  p {
    color: #ffffffcc;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.link {
  font-weight: 500;
  color: #ffffff;

  transition: color 0.25s ease-in-out;

  path {
    transition: fill 0.25s ease-in-out;
  }

  .link-icon {
    transition: transform 0.25s ease-in-out;
    transform: translate(-25%, 25%) scale(1);
  }
}

.link:hover,
.card:hover .link {
  color: #f67280;

  path {
    fill: #f67280;
  }

  .link-icon {
    transform: translate(0, 0) scale(1.1);
  }
}

// layouts

.cards-list {
  display: flex;
  flex-direction: column;

  gap: 16px;

  position: relative;
}

.left-part {
  width: 220px;
  margin-right: 32px;
}
